In [3]:
import quandl

In [4]:
mydata_01 = quandl.get("FRED/GDP")

In [5]:
mydata_01.tail()

                Value
Date
2019-04-01  21329.877
2019-07-01  21540.325
2019-10-01  21747.394
2020-01-01  21561.139
2020-04-01  19520.114

In [6]:
mydata_01.head()

              Value
Date
1947-01-01  243.164
1947-04-01  245.968
1947-07-01  249.585
1947-10-01  259.745
1948-01-01  265.742

In [8]:
import pandas as pd

In [9]:
mydata_01.to_csv('C:/Users/MathS/OneDrive/Área de Trabalho/Cursos/TI/Python/Curso Python Para Finanças/08 - Importando dados de API/exemplo1.csv') #Convertendo dados para CSV

In [10]:
mydata_02 = pd.read_csv('C:/Users/MathS/OneDrive/Área de Trabalho/Cursos/TI/Python/Curso Python Para Finanças/08 - Importando dados de API/exemplo1.csv') #Lendo arquivo CSV

In [11]:
mydata_02.tail()

           Date      Value
289  2019-04-01  21329.877
290  2019-07-01  21540.325
291  2019-10-01  21747.394
292  2020-01-01  21561.139
293  2020-04-01  19520.114

In [12]:
mydata_02.to_excel('C:/Users/MathS/OneDrive/Área de Trabalho/Cursos/TI/Python/Curso Python Para Finanças/08 - Importando dados de API/exemplo1.xlsx') #Salvando arquivo em excel

In [13]:
mydata_03 = pd.read_excel('C:/Users/MathS/OneDrive/Área de Trabalho/Cursos/TI/Python/Curso Python Para Finanças/08 - Importando dados de API/exemplo1.xlsx') #Lendo arquivo em excel

In [14]:
mydata_03.tail()

     Unnamed: 0        Date      Value
289         289  2019-04-01  21329.877
290         290  2019-07-01  21540.325
291         291  2019-10-01  21747.394
292         292  2020-01-01  21561.139
293         293  2020-04-01  19520.114

In [15]:
mydata_02 = pd.read_csv('C:/Users/MathS/OneDrive/Área de Trabalho/Cursos/TI/Python/Curso Python Para Finanças/08 - Importando dados de API/exemplo1.csv', index_col='Date') #Lendo arquivo CSV atribuindo Data como índice

In [16]:
mydata_02

                Value
Date
1947-01-01    243.164
1947-04-01    245.968
1947-07-01    249.585
1947-10-01    259.745
1948-01-01    265.742
...               ...
2019-04-01  21329.877
2019-07-01  21540.325
2019-10-01  21747.394
2020-01-01  21561.139
2020-04-01  19520.114

[294 rows x 1 columns]