In [4]:
import numpy as np
import pandas as pd

In [5]:
ser = pd.Series(np.random.random(5), name = "Column 01")

In [6]:
ser

0    0.583433
1    0.937293
2    0.846020
3    0.470081
4    0.073949
Name: Column 01, dtype: float64

In [7]:
ser[2]

0.8460203572636471

In [8]:
from pandas_datareader import data as wb

In [9]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [10]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,6.245947
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,6.195877
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,6.108259
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,6.120776
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,6.095740
...,...,...,...,...,...,...
2020-10-16,145.869995,143.919998,144.419998,144.389999,6806100.0,143.593002
2020-10-19,145.389999,141.130005,144.470001,141.910004,6427600.0,141.126694
2020-10-20,145.690002,141.899994,145.610001,142.479996,7582100.0,141.693542
2020-10-21,144.339996,142.470001,142.490005,143.250000,5646200.0,142.459290
2020-10-22,142.289993,141.089996,141.490005,141.929993,1922386.0,141.929993

In [11]:
AAPL = wb.DataReader('AAPL', data_source='yahoo', start='2020-10-20')

In [12]:
AAPL

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-10-20,118.980003,115.629997,116.199997,117.510002,124423700,117.510002
2020-10-21,118.709999,116.449997,116.669998,116.870003,89424000,116.870003
2020-10-22,118.040001,114.589996,117.449997,115.900002,65436473,115.900002

In [13]:
AAPL.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3 entries, 2020-10-20 to 2020-10-22
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       3 non-null      float64
 1   Low        3 non-null      float64
 2   Open       3 non-null      float64
 3   Close      3 non-null      float64
 4   Volume     3 non-null      int64
 5   Adj Close  3 non-null      float64
dtypes: float64(5), int64(1)
memory usage: 168.0 bytes

In [14]:
AAPL.head

<bound method NDFrame.head of                   High         Low        Open       Close     Volume  \
Date
2020-10-20  118.980003  115.629997  116.199997  117.510002  124423700
2020-10-21  118.709999  116.449997  116.669998  116.870003   89424000
2020-10-22  118.040001  114.589996  117.449997  115.900002   65436473

             Adj Close
Date
2020-10-20  117.510002
2020-10-21  116.870003
2020-10-22  115.900002  >

In [15]:
AAPL.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-10-20,118.980003,115.629997,116.199997,117.510002,124423700,117.510002
2020-10-21,118.709999,116.449997,116.669998,116.870003,89424000,116.870003
2020-10-22,118.040001,114.589996,117.449997,115.900002,65436473,115.900002

In [17]:
tickers = ['PG','MSFT','T', 'F', 'GE']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t, data_source = 'yahoo', start='1995-1-1')['Adj Close']

In [18]:
new_data.tail()

                    PG        MSFT          T      F     GE
Date
2020-10-16  143.593002  219.660004  27.330000  7.670  7.290
2020-10-19  141.126694  214.220001  26.879999  7.590  7.290
2020-10-20  141.693542  214.649994  26.760000  7.740  7.340
2020-10-21  142.459290  214.800003  26.719999  7.850  7.320
2020-10-22  142.210007  214.337296  28.165001  8.055  7.655