In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [3]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [4]:
sec_data.tail()

                    PG      BEI.DE
Date
2020-10-19  141.126404   99.980003
2020-10-20  141.693237  100.900002
2020-10-21  142.459000   99.000000
2020-10-22  141.449997   98.519997
2020-10-23  142.380005   99.320000

In [5]:
sec_returns = np.log(sec_data/sec_data.shift(1))

In [6]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002203  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-10-19 -0.017325 -0.002697
2020-10-20  0.004008  0.009160
2020-10-21  0.005390 -0.019010
2020-10-22 -0.007108 -0.004860
2020-10-23  0.006553  0.008087

[3478 rows x 2 columns]

In [8]:
#pg
sec_returns['PG'].mean()

0.0003467656383501723

In [9]:
sec_returns['PG'].mean()*250

0.08669140958754307

In [10]:
sec_returns['PG'].std()

0.01189355532870245

In [11]:
sec_returns['PG'].std()*250**0.5

0.1880536215796617

In [12]:
#Beiersdorf
sec_returns['BEI.DE'].mean()

0.0002566497099578496

In [13]:
sec_returns['BEI.DE'].mean()*250

0.0641624274894624

In [14]:
sec_returns['BEI.DE'].std()

0.013808582595331763

In [15]:
sec_returns['BEI.DE'].std()*250**0.5

0.21833286129903767

In [16]:
print (sec_returns['PG'].mean()*250)
print (sec_returns['BEI.DE'].mean()*250)

0.08669140958754307
0.0641624274894624

In [17]:
sec_returns[['PG', 'BEI.DE']].mean()*250

PG        0.086691
BEI.DE    0.064162
dtype: float64

In [18]:
sec_returns[['PG', 'BEI.DE']].mean()*250**0.5

PG        0.005483
BEI.DE    0.004058
dtype: float64

In [19]:
sec_returns[['PG', 'BEI.DE']].std()*250**0.5

PG        0.188054
BEI.DE    0.218333
dtype: float64

In [20]:
#Calculando volatilidade de um portfólio
weights = np.array([0.5,0.5])

In [21]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))
pfolio_var

0.026333044952984302

In [23]:
pfolio_vol = np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))**0.5
pfolio_vol

0.16227459737427882

In [26]:
print (str(round(pfolio_vol, 5)*100) + ' %')

16.227 %